--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.9.1
torchvision==0.24.1
torchaudio==2.9.1
transformers==4.57.6
accelerate==1.12.0
safetensors==0.7.0
tokenizers==0.22.2
huggingface-hub==0.36.2
sentencepiece==0.1.99
datasets==2.16.1
pyarrow==23.0.0
pandas==2.3.3
numpy==1.26.4
matplotlib==3.10.8
tqdm==4.67.3
PyYAML==6.0.3
timm==1.0.24
pillow==12.1.1
loguru==0.7.3
lmms-eval==0.3.0
protobuf==3.20.0
zstandard==0.25.0
easydict==1.13
evaluate==0.4.6
jsonlines==4.0.0
numexpr==2.14.1
peft==0.18.1
pybind11==3.0.1
pytablewriter==1.2.1
rouge-score==0.1.2
sacrebleu==2.6.0
sqlitedict==2.1.0
tqdm-multiprocess==0.0.11
dill==0.3.7
word2number==1.1
more-itertools==10.8.0
qtorch==0.3.0
einops==0.8.2
qwen-vl-utils==0.0.14
tiktoken==0.12.0
librosa==0.11.0
human-eval==1.0.3
imageio==2.37.2
diffusers==0.36.0
seaborn>=0.13.0
scipy==1.15.3
scikit-learn==1.7.2
